:root 
    {--cor-de-fundo: #ffffff;
     --cor-cabecalho: #ffffff;
     --fundo-menu: #ffffff;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
     background-color: var(--cor-de-cabecalho);
     text-align: center;
}

.cabecalho-titulo {
    font-size: 36px;
    font-weight: 700;
    padding: 12px;
    text-align: center;

}

.cabecalho-menu {
    background-color: var(--fundo-menu);
}

.cabecalho-menu-item {
    display: block;
    padding: 5px;
    font-size: 20PX;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid;

}
.programação {
    width: 1000px;

}